services:

  postgres:
    image: postgres:16
    env_file:
      - ./backend/.env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    env_file:
      - ./backend/.env
    volumes:
      - ./backend/.env:/app/.env:ro
    depends_on:
      - postgres

volumes:
  postgres_data: